<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>개발자 소개</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="container">
    <h1>개발자 소개</h1>
    <p>이 웹사이트는 우준현이 만들었습니다. 웹사이트의 목적은 맛집 정보를 제공하는 것입니다.</p>
    <a href="/">홈으로 가기</a>
  </div>
</body>
</html>