<header>
  <h1><a href="/" style="color: #fff; text-decoration: none;">청운 맛집 리스트</a></h1>
  <nav>
    <a href="/">홈</a>
    <a href="/restaurant-list">맛집 리스트</a>
    <a href="/developer">개발자 소개</a>
  </nav>
</header>